<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.min.css}">
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}" defer></script>
  </th:block>
<body>

<th:block th:fragment="search (colors)">

  <form th:action="@{/cards/filter}" th:object="${filter}" method="post">
    <label for="name">Cerca per nome</label>
    <input type="text" id="name" th:field="*{name}">
    <label for="type">Cerca per tipo</label>
    <input type="text" id="type" th:field="*{type}">
    <label for="description">Cerca per testo</label>
    <input type="text" id="description" th:field="*{description}">
    <div class="mb-3 form-check" th:each="color : ${colors}">
      <input type="checkbox" class="form-check-input" th:id="|color_${color.id}|" th:field="*{colors}"
             th:value="${color.id}">
      <label class="form-check-label" th:for="|color_${color.id}|" th:text="${color.name}"></label>
    </div>
    <button type="submit" class="btn btn-primary">Cerca</button>
    <a th:href="@{/cards}" class="btn btn-secondary">Reset i filtri</a>
  </form>

</th:block>

</body>
</html>